<!DOCTYPE html>
<html>
<head>
    <title>IsoAligner: map amino acid positions across protein isoforms</title>
    <meta name="description" content="Dynamically align protein isoforms with gene-specific minimal exon lengths to retrieve mapped amino acid positions tables." >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <meta name="keywords" content="Protein, Isoform, Splice-variant Alignment,Pairwise, Needleman-Wunsch, Algorithm, Sequence, Amino Acid, Position, Mapping, Table, Corresponding, Exon, Ensembl, Refseq, Uniprot, Human, Interactive, Dynamic, Point Mutation, Tool" >
    <meta name="author" content="Jacob Hanimann">

    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

   <!--  <link rel="icon" href="/static/favicon.ico" type="image/x-icon"> -->

</head>
<body>
<iframe
  src="https://share.streamlit.io/jacobhanimann/isoaligner/main/Streamlit_app/Webinterface.py"
  name="IsoAligner Webtool"
  style="
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 999999;
    height: 100%;
  ">

</body>
</html>