<!DOCTYPE html>
<html>
<head>
    <meta name="description" content="Align protein isoforms interactively with a customized Needleman-Wunsch algorithm and gene-specific minimal exon lengths to match comprehensibly corresponding amino acid positions exclusively." >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <meta name="keywords" content="Protein, Isoform, Alignment,Pairwise, Needleman-Wunsch, Algorithm, Sequence, Amino Acid, Position, Mapping, Table, Corresponding, Exon, Ensembl, Refseq, Uniprot, Human, Interactive, Dynamic, Tool" >
    <meta name="author" content="Jacob Hanimann">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">

</head>
<body>
<iframe
  src="https://share.streamlit.io/jacobhanimann/isoaligner/main/Streamlit_app/Webinterface.py"
  style="
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 999999;
    height: 100%;
  ">

</body>
</html>